{% extends 'base.html' %}

{% block content %}
<h1>this is about page inherit  block content</h1>
<h1>this is about page inherit block contente</h1>
replace me


<p>
    <h1>
        {{ my_text }},{{ my_number }},{{my_list}}
    </h1>
</p>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
</ul>

<ul>
{% for abc in my_list  %}
    {% if abc == 312 %}
        <li>{{ forloop.counter }}-{{ abc|add:22 }}</li>
    {% elif abc == "Abc" %}
        <li>This is not the network</li>
    {% else %}
        <li>{{ forloop.counter }} {{ abc }}</li>   
    {% endif %}   

{% endfor %}
</ul>


{% endblock content %}

